/* hmm, VS seems to to recognise native css3 nesting syntax */

table {
    width: 100%;
    max-width: 800px;
    text-align: center;
    & thead th { cursor: pointer; text-decoration: underline;}
    & td {
             border: 1px solid #eee;

             & img
            {
              height: 16px;
            }
         }
}
